<div class="container-fluid p-0 overflow-hidden">
    <div class="row">
        <div class="col header">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container">
                    <a class="navbar-brand" href=""><img class="logo img-fluid" src="../../assets/logo.png" alt=""></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" [routerLink]="['/home']">
                                    <span class="act-item">Home</span>
                                </a>
                            </li>
                            <li id="dodaj-recept" class="nav-item ml-lg-5 ml-sm-0">
                                <a class="nav-link"[routerLink]="['/login']">
                                    Login
                                </a>
                            </li>
                            <li id="dodaj-recept" class="nav-item">
                                <a class="nav-link"[routerLink]="['/register']">
                                    Register
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col h1 mt-4 text-center">
            Latest real estates
        </div>
    </div>
    <div class="row">
        <div class="col-3"></div>
        <div class="col">
            <div *ngFor="let re of latestRealEstates" class="mb-5">
                <mat-card class="p-0 m-0 home-card card-font card-bg">
                    <mat-card-title class="w-100 p-2 mb-0 card-title">
                        {{re.name}}
                    </mat-card-title>
                    <mat-card-content class="custom-text">
                        <div class="row">
                            <div class="col-4">
                                <div class="row mt-3 mb-5">
                                    <div class="col">
                                        <div class="text-center price-text">
                                            <h3>{{re.price}} €</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="row pl-3">
                                    <div class="col">
                                        <div class="h5">Linije javnog prevoza:</div>
                                        <span class="h4" *ngFor="let line of re.transportLines">
                                            {{line}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-8 text-right">
                                <img class="w-100 p-0 m-0" mat-card-xl-image src="{{re.rndImg}}">
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
</div>