table {
    border-collapse: separate;
    border-spacing: 0 25px;
}

.custom-border {
    background-color: rgb(245, 245, 245);

}

.vert-middle {
    vertical-align: middle;
}

.text-error {
    font-size: 12px;
    color: red;
}

.resp-img {
    max-height: 600px;
}