<div class="container-fluid p-0 overflow-hidden">
    <div class="row">
        <div class="col header">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container">
                    <a class="navbar-brand" href=""><img class="logo img-fluid" src="../../assets/logo.png" alt=""></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div *ngIf="user.type=='buyer'" class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" [routerLink]="['/buyer/home']">Basic search</a>
                            </li>
                            <li id="dodaj-recept" class="nav-item">
                                <a class="nav-link" href="">Advanced search</a>
                            </li>
                            <li id="dodaj-recept" class="nav-item">
                                <a class="nav-link" [routerLink]="['/buyer/favorite']">
                                    Favorite
                                </a>
                            </li>
                            <li id="moj-nalog" class="nav-item ml-lg-5 ml-sm-0">
                                <a class="nav-link" routerLinkActive="router-link-active" >
                                    <span class="act-item">Change password</span>
                                </a>
                            </li>
                            <li id="odjava-stavka" class="nav-item ml-sm-0 pr-0">
                                <a id="odjava" class="nav-link" (click)="logout()">Log out</a>
                            </li>
                        </ul>
                    </div>
                    <div *ngIf="user.type=='admin'" class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" [routerLink]="['/admin/home']">
                                    Registration requests
                                </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
                                    Users
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" [routerLink]="['/admin/addUser']">Add user</a>
                                    <a class="dropdown-item" [routerLink]="['/admin/editDeleteUser']">Edit/Delete user</a>
                                </div>
                            </li>
                            <li id="dodaj-recept" class="nav-item">
                                <a class="nav-link">Add agency</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
                                    Microlocations
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" [routerLink]="['/admin/addMicrolocation']">
                                        Add microlocation
                                    </a>
                                    <a class="dropdown-item" [routerLink]="['/admin/deleteMicrolocation']">
                                        Delete microlocation
                                    </a>
                                </div>
                            </li>
                            <li id="moj-nalog" class="nav-item ml-lg-5 ml-sm-0">
                                <a class="nav-link" [routerLink]="['/user/changePassword']">
                                    <span class="act-item">Change password</span>
                                </a>
                            </li>
                            <li id="odjava-stavka" class="nav-item ml-sm-0 pr-0">
                                <a id="odjava" class="nav-link" [routerLink]="['/login']" (click)="logout()">Log out</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2 class="text-center">Change password</h2>
        </div>
        <div class="col-xl-4 col-2"></div>
        <div class="m-auto col-xl-4 col-8 p-4 text-center custom-border">
            <mat-form-field id="current-pass" class="w-100 mb-3 example-full-width" appearance="fill">
                <mat-label>Current password</mat-label>
                <input [(ngModel)]="oldPassword" [formControl]="currPassControl" type="password" matInput placeholder="Enter current password">
                <mat-error *ngIf="currPassControl.hasError('invCurr')">{{errorMessage}}</mat-error>
            </mat-form-field>
            <mat-form-field id="new-pass" class="w-100 mb-3 example-full-width" appearance="fill">
                <mat-label>New password</mat-label>
                <input [(ngModel)]="newPassword" [formControl]="newPassControl" type="password" matInput placeholder="Enter new password">
                <mat-error *ngIf="newPassControl.hasError('invNew')">{{errorMessage}}</mat-error>
            </mat-form-field>
            <mat-form-field id="confirm-pass" class="w-100 mb-3 example-full-width" appearance="fill">
                <mat-label>Confirm new password</mat-label>
                <input [(ngModel)]="newPasswordReEntered" [formControl]="confPassControl" type="password" matInput placeholder="Confirm new password">
                <mat-error *ngIf="confPassControl.hasError('invConf')">{{errorMessage}}</mat-error>
            </mat-form-field>
            <button (click)="changePassword()" class="w-50 btn btn-dark">Change password</button>
        </div>
        <div class="col-xl-4 col-2"></div>
    </div>
</div>