.charact-chip-exists {
    background-color: rgb(52, 58, 64);
    color: white;
}

.custom-hr {
    border-width: 5px;
    border-color: rgb(52, 58, 64);
}

.realestate-info {
    background-color: rgb(194, 197, 201);
}

.custom-title {
    font-size: 25px;
    vertical-align: middle;
}

.custom-text {
    font-size: 17px;
}

.card-bg-price {
    background-color: rgb(52, 58, 64);
    color: white;
}

.price-text {
    font-size: 28px;
}

.custom-list-font {
    font-size: 18px;
}

.green {
    color: rgb(128, 196, 128);
}

.red {
    color: rgb(194, 85, 85);
}

.mat-expansion-panel:not([class*='mat-elevation-z']) {
    box-shadow: none;
}

.mat-expansion-panel:hover {
    background-color: rgb(241, 241, 241);
}

.dot {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    color: white;
    cursor: pointer;
}