<div class="container-fluid p-0 overflow-hidden">
    <div class="row">
        <div class="col header">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container">
                    <a class="navbar-brand" href=""><img class="logo img-fluid" src="../../assets/logo.png" alt=""></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" [routerLink]="['/advertiser/home']">
                                    <span class="act-item">My real estates</span>
                                </a>
                            </li>
                            <li id="dodaj-recept" class="nav-item">
                                <a class="nav-link" [routerLink]="['/advertiser/addRealEstate']">
                                    Add real estate
                                </a>
                            </li>
                            <li id="dodaj-recept" class="nav-item" [routerLink]="['/advertiser/myInfo']">
                                <a class="nav-link"[routerLink]="['/advertiser/info']">
                                    My info
                                </a>
                            </li>
                            <li id="moj-nalog" class="nav-item ml-lg-5 ml-sm-0">
                                <a class="nav-link" [routerLink]="['/user/changePassword']">
                                    Change password
                                </a>
                            </li>
                            <li id="odjava-stavka" class="nav-item ml-sm-0 pr-0">
                                <a id="odjava" class="nav-link" [routerLink]="['/login']" (click)="logout()">Log out</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="row">
        <div *ngIf="allRealEstates.length>0" class="col h2 mt-4 mb-4 text-center">
            My real estates
        </div>
        <div *ngIf="allRealEstates.length==0" class="col h2 mt-4 mb-4 text-center">
            No real estates
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-1"></div>
        <div class="col">
            <div *ngFor="let re of allRealEstates" class="mb-5">
                <mat-card class="p-0 m-0 home-card card-font card-bg">
                    <mat-card-title class="w-100 p-2 mb-0 card-title">
                        {{re.name}}
                    </mat-card-title>
                    <mat-card-content class="custom-text">
                        <div class="row">
                            <div class="col-12 col-sm-6 text-center">
                                <h3>{{re.price}} €</h3>
                            </div>
                            <div class="col-12 col-sm-6 d-flex justify-content-center justify-content-sm-end align-items-center pr-0 pr-sm-5 mb-sm-0 mb-4">
                                <button [routerLink]="[ '/advertiser/editRealEstate', re.id]" class="btn btn-secondary mr-1">Edit</button>
                                <button (click)="sellRealEstate(re)" *ngIf="re.sold==0" class="ml-1 btn btn-info">Sell</button>
                                <button *ngIf="re.sold==1" disabled class="btn ml-1 btn-success">SOLD</button>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
        <div class="col-lg-3 col-1"></div>
    </div>
</div>