body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.center-hv {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.custom-input {
    border-radius: 30px;
    background-color: #f3f3f3;
    border-width: 1px;
}

.custom-button {
    border-radius: 30px;
    padding: 5px;
}

.custom-button:disabled {
    border-radius: 30px;
    padding: 5px;
    background-color: #698ddb;
}

/* .custom-button, .custom-button .disabled {
    border-radius: 30px;
    background-color: #712ff3;
    padding: 5px;
}

.custom-button:hover, .custom-button:focus,
.custom-button:hover .disabled, .custom-button:focus .disabled {
    background-color: #712ff3;
} */

.error-msg {
    font-size: medium;
    font-weight: 500;
}

a, a:link, a:active, a:hover {
    color: black;
    font-weight: bold;
}

a:active, a:hover {
    color: #868686;
}