<div class="container-fluid p-0 overflow-hidden">
    <div class="row">
        <div class="col header">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container">
                    <a class="navbar-brand" href=""><img class="logo img-fluid" src="../../assets/logo.png" alt=""></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" [routerLink]="['/advertiser/home']">
                                    My real estates
                                </a>
                            </li>
                            <li id="dodaj-recept" class="nav-item">
                                <a class="nav-link" [routerLink]="['/advertiser/addRealEstate']">
                                    Add real estate
                                </a>
                            </li>
                            <li id="dodaj-recept" class="nav-item" [routerLink]="['/advertiser/myInfo']">
                                <a class="nav-link" [routerLink]="['/advertiser/info']">
                                    <span class="act-item">
                                        My info
                                    </span>
                                </a>
                            </li>
                            <li id="moj-nalog" class="nav-item ml-lg-5 ml-sm-0">
                                <a class="nav-link" [routerLink]="['/user/changePassword']">
                                    Change password
                                </a>
                            </li>
                            <li id="odjava-stavka" class="nav-item ml-sm-0 pr-0">
                                <a id="odjava" class="nav-link" [routerLink]="['/login']" (click)="logout()">Log out</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-1 col-0"></div>
        <div class="col-md-4 col-12 text-center h5">
            <img src="{{user.image}}" class="profile-img mb-3">
            <div class="font-italic m-2">@{{user.username}}</div>
            <div class="font-italic">{{user.city}}</div>
        </div>
        <div class="col-md-6 col-12 text-left m-3">
            <div class="row">
                <div class="col-lg-8 col-12 h1">
                    {{user.firstname}} {{user.lastname}}
                </div>
                <div class="col-lg-4 col-12">
                    <button *ngIf="editable==false" (click)="editMode()" class="btn btn-outline-dark">Edit profile</button>
                    <button *ngIf="editable==true" (click)="saveEdit()" class="btn btn-outline-info">Save</button>
                    <button *ngIf="editable==true" (click)="cancel()" class="ml-1 btn btn-outline-dark">Cancel</button>
                </div>
                <div class="col-12"><hr class="hr-custom"></div>
                <div class="col-12 h5 mt-4">
                    <span *ngIf="editable==false">{{user.telephone}}</span>
                    <input *ngIf="editable==true" [(ngModel)]="user.telephone" type="text">
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <span *ngIf="errorPhone!=''" class="mr-3 error-msg text-danger">{{errorPhone}}</span>
                </div>
                <div class="col-12 h5 mt-3">
                    <span *ngIf="editable==false">{{user.email}}</span>
                    <input *ngIf="editable==true" [(ngModel)]="user.email" type="text">
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <span *ngIf="errorEmail!=''" class="mr-3 error-msg text-danger">{{errorEmail}}</span>
                </div>
                <div class="col-12"><hr class="hr-custom"></div>
                <div *ngIf="user.agencyId==''" class="col-12">
                    <div *ngIf="editable==false" class="h3">No agency</div>
                    <div *ngIf="editable==true" class="h3">Agency</div>
                    <select (change)="chooseAgency($event)" *ngIf="editable==true" name="agency" id="agency" [(ngModel)]="agencyId">
                        <option value="">No agency</option>
                        <option *ngFor="let agnc of agencies" value="{{agnc.pib}}">{{agnc.name}}</option>
                    </select>
                    <br>
                    <input class="mt-2" *ngIf="editable==true" type="number" placeholder="Licence" [(ngModel)]="user.licence">
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="error-msg text-danger" *ngIf="licenceError!=''&&agencyId!=''">{{licenceError}}</span>
                </div>
                <div *ngIf="user.agencyId!=''" class="col-12">
                    <div class="h3">Agency</div>
                    <div *ngIf="editable==false">Name: <b>{{agency.name}}</b></div>
                    <select (change)="chooseAgency($event)" *ngIf="editable==true" name="agency" id="agency" [(ngModel)]="agencyId">
                        <option *ngFor="let agnc of agencies" value="{{agnc.pib}}">{{agnc.name}}</option>
                    </select>
                    <div>Licence: <b>{{user.licence}}</b></div>
                    <div>PIB: <b>{{agency.pib}}</b></div>
                    <div>Address: <b>{{agency.address}}</b></div>
                    <div>City: <b>{{agency.city}}</b></div>
                    <div>Phone: <b>{{agency.telephone}}</b></div>
                </div>
            </div>
        </div>
        <div class="col-md-1 col-0"></div>
    </div>
</div>